<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Group Buddies">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <title>Group Buddies - Connect. Collaborate. Improve.</title>

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="<%= @stylesheet_folder %>/structure.css">
  <link rel="stylesheet" type="text/css" href="<%= @stylesheet_folder %>/typography.css">

  <script type="text/javascript" src="/javascripts/jquery.js" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/application.js" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/gb.js" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/preloadCssImages.jQuery_v5.js" charset="utf-8"></script>
</head>
