<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Group Buddies">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <title>Group Buddies - Connect. Collaborate. Improve.</title>

  <link rel="shortcut icon" href="/favicon.ico">

  <% @stylesheets.each do |stylesheet| %>
    <%= link_to_stylesheet(stylesheet) %>
  <% end %>

  <% @javascripts.each do |javascript| %>
    <%= link_to_javascript(javascript) %>
  <% end %>
</head>
