<%= erb :_head %>

<body>
  <header>
    <div class="wrapper">
      <a href="/" id="logo">Group Buddies</a>

      <nav>
        <ul>
          <li><a id="nav-home" href="#home">Home</a></li>
          <li><a id="nav-who-we-are" href="#who-we-are">Who we are</a></li>
          <li><a id="nav-what-we-do" href="#what-we-do">What we do</a></li>
          <li><a id="nav-our-work" href="#our-work">What we did</a></li>
          <li><a id="nav-hire-us" href="#hire-us">Hire us</a></li>
          <li><a id="nav-contact-us" href="#contact-us">Contact us</a></li>
        </ul>
      </nav>

      <span id="slogan">Connect. Collaborate. Improve.</span>
    </div>
  </header>

  <section id="home">
    <div class="wrapper">
      <h1>Group Buddies.</h1>
      <p>We collaborate.</p>
      <p>Your business improves.</p>

      <a href="#" id="arrow"></a>
    </div>
  </section>

  <section id="who-we-are">
    <div class="wrapper">
      <h1>Hello!</h1>
      <p>We're a young team of self-confessed coffee lovers from northern Portugal.</p>
      <p>When we're not drinking coffee, we're busy creating beautiful and functional Web sites.</p>
      <p>We also do a pretty good job in establishing your company's visual identity.</p>
      <ul id="team-list">
        <li class="member-thumbnail">
          <a href="/team/luis">
            <img src="/images/luis_thumbnail.png" alt="Luís Zamith">
            <span>Luís Zamith</span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="/team/roberto">
            <img src="/images/roberto_thumbnail.png" alt="Roberto Machado">
            <span>Roberto Machado</span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section id="what-we-do">
    <div class="wrapper">
      <h1>Did we mention that we absolutely <span>love</span> what we do?</h1>
      <ul>
        <li>
          <h2>Corporate Identity</h2>
          <p>Your identity is more than a logo. We can help you to effectively communicate your company's values by creating the right identity for you.</p>
        </li>
        <li>
          <h2>Web Development</h2>
          <p>We love the Web. We take pride in crafting beautiful designs on top of intuitive user interfaces in order to make your Web presence fun and profitable.</p>
        </li>
        <li>
          <h2>Products</h2>
          <p>Collaboration and communication are two key factors in the success of any organization. Our Web apps can further assist you in reaching your goal.</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="our-work">
    <div class="wrapper">
      <h1>Some of the stuff we've done before:</h1>

      <ul>
        <li class="thumbnail"><a href="/portfolio/jsf"><img alt="Jovens sem Fronteiras" src="/images/portfolio/jsf.png"><span class="name">Jovens sem Fronteiras</span> <span class="info">Web site for a Catholic group.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/cbfp"><img alt="Centro de Biologia Funcional de Plantas" src="/images/portfolio/cbfp.png"><span class="name">CBFP</span> <span class="info">Web site for a Biology research center.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/yme"><img alt="Young Minho Enterprise" src="/images/portfolio/yme.png"><span class="name">Young Minho Enterprise</span> <span class="info">Web site for a junior consulting firm.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/dia-do-estudante"><img alt="Dia do Estudante" src="/images/portfolio/dia.png"><span class="name">Dia do Estudante</span> <span class="info">Web site for the celebration of the official Portuguese student day.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/cesium"><img alt="Centro de Estudantes de Sistemas e Informática da Universidade do Minho" src="/images/portfolio/ces.png"><span class="name">CeSIUM</span> <span class="info">Web site for a computer science student's union.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/atreve-te"><img alt="Atreve-te 2011" src="/images/portfolio/atr.png"><span class="name">Atreve-te</span> <span class="info">Web site for a contest of business ideas.</span></a></li>
      </ul>
    </div>
  </section>

  <section id="hire-us">
    <div class="wrapper">
      <h1>We'd love to hear from <span>you</span>.</h1>
      <p>Lets have a chat, we're quite the friendly bunch.</p>

      <form action="/contact" method="post">
        <input name="name" type="text" placeholder="Your name" required><input name="email" type="email" placeholder="Your email" required>
        <textarea name="message" placeholder="Your message" required></textarea>
        <button type=submit>Send</button>
      </form>
    </div>
  </section>

  <footer id="contact-us">
    <div class="wrapper">
      <h1>Thanks for visiting!</h1>

      <section class="contact">
        <h3>Contact us</h3>
        <ul>
          <li><i class="icon-envelope-alt"></i><span>contact@groupbuddies.com</span></li>
          <li><i class="icon-phone"></i><span>+351 916 748 994</span></li>
          <li><i class="icon-map-marker"></i><span>Braga, Portugal</span></li>
        </ul>
      </section>

      <section class="connect">
        <h3>Connect with us</h3>
        <ul>
          <li><i class="icon-linkedin-sign"></i><a href="http://www.linkedin.com/company/group-buddies" id="linkedin">LinkedIn</a></li>
          <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/groupbuddies"  id="twitter">Twitter</a></li>
          <li><i class="icon-facebook-sign"></i><a href="http://www.facebook.com/groupbuddies" id="facebook">Facebook</a></li>
        </ul>
      </section>

      <section class="subscribe">
        <h3>Subscribe to us</h3>
        <form id="newsletter" action="/newsletter" method="post">
          <input type="email" name="email" placeholder="Your email" required>
          <button type="submit">Add to Newsletter</button>
        </form>
      </section>

      <p class="copyright-info">© <%= Time.now.year %> <a href="http://www.groupbuddies.com">Group Buddies</a>. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
