<%= erb :_head %>

<body>
  <header>
    <div class="wrapper">
      <a href="/" id="logo" class="logo">Group Buddies</a>

      <nav>
        <ul>
          <li><a id="nav-home" href="/">Back to home</a></li>
          <li><a id="nav-luis" href="/team/luis">Luís</a></li>
          <li><a id="nav-roberto" href="/team/roberto">Roberto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="luis" class="team-member <%= @member != 'luis' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Luís Zamith</h1>
      <h2>Chief Technology Officer</h2>

      <p>Senior Geek.</p>
      <p>Passionate about clean code, the web, basketball and shiny things. Always looking to pair program the web into a better place.</p>
      <p>All around maker of stuff.</p>

      <ul class="social-links">
        <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/zamith">Twitter</a></li>
        <li><i class="icon-linkedin-sign"></i><a href="http://www.linkedin.com/in/zamith">LinkedIn</a></li>
      </ul>

      <a href="/team/roberto" class="right arrow"></a>
    </div>

    <img src="/images/team/luis_zamith.jpg">
  </section>

  <section id="roberto" class="team-member <%= @member != 'roberto' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Roberto Machado</h1>
      <h2>Chief Executive Officer</h2>

      <p>With a background in Computer Science, but with plenty of experience in management and entrepreneurship, Roberto has always been interested in creating new ventures.</p>
      <p>At Group Buddies he has the opportunity to manage a fantastic group of professionals that have their hearts set in creating wonderful Web products.</p>
      <p>He is fully committed into improving the entrepreneurial scene in Braga, his hometown, being involved in several projects meant to boost the startup ecosystem.</p>

      <ul class="social-links">
        <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/rmdgb">Twitter</a></li>
        <li><i class="icon-linkedin-sign"></i><a href="http://pt.linkedin.com/in/robertomachado">LinkedIn</a></li>
      </ul>

      <a href="/team/luis" class="left arrow"></a>
    </div>

    <img src="/images/team/roberto_machado.jpg">
  </section>
</body>
