*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box


img
  max-width: 100%


.wrapper
  margin: auto
  position: relative
  width: 75.9% // 960px @ 1280px


header
  background-color: #F6F6F8
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  padding-bottom: 1.5625%
  padding-top: 1.5625%
  position: fixed
  width: 100%
  z-index: 10


#logo
  background-image: url('/logo.png')
  background-repeat: no-repeat
  background-size: 100%
  float: left
  height: 92px
  width: 130px


#slogan
  clear: right
  float: right
  margin-right: 0.8em
  margin-top: 1em


nav
  float: right
  margin: 20px 0

  li
    display: inline
    margin-left: 0.8em

  li:first-child
    margin-left: 0

  a
    padding: 0.8em 1em
    -webkit-transition: color 0.2s ease-in-out
    -moz-transition: color 0.2s ease-in-out
    -o-transition: color 0.2s ease-in-out
    transition: color 0.2s ease-in-out

  a.current
    background-color: #0091DA
    border-radius: 8px


#home
  background-color: #0091DA
  height: 720px

  h1
    padding-top: 280px

  h1, p
    padding-left: 15.625%

  #arrow
    background-image: url('/images/arrow.png')
    display: block
    height: 20px
    margin: 160px auto 0
    opacity: 0.3
    width: 34px
    -webkit-transition: opacity 0.2s ease-in-out
    -moz-transition: opacity 0.2s ease-in-out
    -o-transition: opacity 0.2s ease-in-out
    transition: opacity 0.2s ease-in-out

  #arrow:hover
    opacity: 1


#who-we-are
  background-color: #323232
  background-image: url('/images/coffee.png')
  background-position: 0% 50%
  background-repeat: no-repeat
  background-size: 50%
  height: 720px

  h1
    padding-top: 80px

  h1, p, ul
    padding-bottom: 3.2%
    padding-left: 56%

  li
    display: inline-block
    margin-bottom: 5%
    vertical-align: top

  .member-thumbnail
    width: 32.5%
    text-align: center

  a
    -webkit-transition: color 0.2s ease-in-out
    -moz-transition: color 0.2s ease-in-out
    -o-transition: color 0.2s ease-in-out
    transition: color 0.2s ease-in-out

  span
    display: block


#what-we-do
  background-color: #F6F6F8
  background-image: url('/images/circle.png')
  background-position: 80% 60%
  background-repeat: no-repeat
  height: 720px

  h1
    padding-bottom: 7.5%
    padding-top: 110px

  li
    margin-bottom: 2%
    width: 50%


#what-we-did
  background-color: #323232
  height: 720px

  h1
    padding-bottom: 7.5%
    padding-top: 100px

  .thumbnail
    background-size: 100%
    background-repeat: no-repeat
    display: inline-block
    height: 136px
    margin: 0 0.9% 9%
    vertical-align: top
    width: 23%
    -webkit-transition: background-image 0.2s ease-in-out
    -moz-transition: background-image 0.2s ease-in-out
    -o-transition: background-image 0.2s ease-in-out
    transition: background-image 0.2s ease-in-out

  .cbfp
    background-image: url('/images/portfolio/cbfp.png')

  .cbfp:hover
    background-image: url('/images/portfolio/cbfp_hover.png')

  .yme
    background-image: url('/images/portfolio/yme.png')

  .yme:hover
    background-image: url('/images/portfolio/yme_hover.png')

  .dia-do-estudante
    background-image: url('/images/portfolio/dia.png')

  .dia-do-estudante:hover
    background-image: url('/images/portfolio/dia_hover.png')

  .cesium
    background-image: url('/images/portfolio/ces.png')

  .cesium:hover
    background-image: url('/images/portfolio/ces_hover.png')

  .atreve-te
    background-image: url('/images/portfolio/atr.png')

  .atreve-te:hover
    background-image: url('/images/portfolio/atr_hover.png')

  .nemum
    background-image: url('/images/portfolio/nem.png')

  .nemum:hover
    background-image: url('/images/portfolio/nem_hover.png')

  .name
    display: inline-block
    padding: 66% 0 3%

  .info
    display: block


#hire-us
  background-color: #0091DA
  background-image: url('/images/envelope.png')
  background-position: -30% 240%
  background-repeat: no-repeat
  background-size: 60%
  height: 720px

  h1
    padding-top: 100px

  p
    padding-bottom: 11%

  form
    float: right
    height: 308px
    width: 49.5%

    button
      background-color: #323232
      float: right
      margin: 0
      padding: 2.2% 3%

    button:hover
      background-color: #F6F6F8

    input
      margin: 0
      margin-left: 3%
      width: 48.5%

    input:first-child
      margin-left: 0

    textarea
      height: 61.4%
      max-height: 80%
      width: 100%

    input, textarea
      background-color: #F6F6F8
      margin-bottom: 3%
      max-width: 100%
      padding: 3%


footer
  background-color: #323232
  background-image: url('/images/pt.png')
  background-position: 100% 60%
  background-repeat: no-repeat
  background-size: 30%
  height: 700px

  h1
    padding-top: 100px

  section
    display: inline-block
    margin-top: 330px
    vertical-align: top

  .icon
    background-position: 0 50%
    background-repeat: no-repeat
    padding-left: 1.5em

  .email
    background-image: url('/images/email.png')

  .phone
    background-image: url('/images/phone.png')

  .address
    background-image: url('/images/location.png')
    background-position: 2px 50%

  .connect-with-us
    margin-left: 30px

  .linkedin
    background-image: url('/images/linkedin.png')

  .twitter
    background-image: url('/images/twitter.png')

  .facebook
    background-image: url('/images/facebook.png')

  .subscribe-to-us
    margin-left: 30px

    input
      display: block
      margin-top: 4.5%
      max-width: 100%
      padding: 5%
      width: 100%

    button
      background-color: #0091DA
      padding: 5%
      margin: 3% 0 0

    button:hover
      background-color: #F6F6F8
      color: #0091DA

  .copyright-info
    margin-top: 4%


// =============
// MEDIA QUERIES
// =============


@media (max-width: 1100px)
  body
    font-size: 95% !important

  #logo
    background-size: 90%

  nav li
    margin-left: 0 !important

  #slogan
    margin-top: 0.8em

  #hire-us
    background-position: -60% 250% !important
    background-size: 70% !important


@media (max-width: 960px)
  body
    font-size: 90% !important

  header
    padding-bottom: 2.563% !important
    padding-top: 2.563% !important

  #logo
    background-image: url('/images/icon.png') !important
    background-position: 0 !important
    background-size: 100% !important
    height: 50px !important
    width: 50px !important

  nav
    margin: 10px 0 15px

  #slogan
    margin-top: 0 !important

  #what-we-do
    background-size: 35%

  #hire-us
    background-position: -100% 210% !important
    background-size: 75% !important

  footer
    background-position: 110% 60% !important
    background-size: 35% !important


@media (max-width: 840px)
  #home
    font-size: 3.2em !important

  #what-we-did
    .thumbnail
      width: 30%

  #hire-us
    background-position: -140% 180% !important
    background-size: 80% !important

  footer
    background-size: 40% !important

    section
      display: block
      margin-bottom: 25px
      margin-left: 0 !important
      margin-top: 0

    .contact-us
      margin-top: 80px

    .subscribe-to-us
      width: 200px


@media (max-width: 760px)
  #logo
    background-image: url('/images/logo_min.png') !important
    display: block !important
    float: none !important
    height: 33px !important
    margin: 0 auto 20px !important
    width: 190px !important

  nav
    float: none !important
    text-align: center !important

  #slogan
    display: none !important

  #hire-us
    background-position: -210% 170% !important
    background-size: 85% !important

  footer
    background-size: 45% !important


@media (max-width: 680px)
  body
    font-size: 85% !important

  #home
    font-size: 3em !important

  #hire-us
    background-position: -210% 150% !important


@media (max-width: 630px)
  body
    font-size: 80% !important

  .member-thumbnail
    margin-right: 15% !important

  #what-we-do
    background-position: 80% 50%
