body {
  background-color: #f6f6f8; }

.wrapper {
  margin: auto;
  position: relative;
  width: 75.9%; }

.hidden {
  display: none; }

header {
  background-color: #323232;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 10; }

#logo {
  background-image: url("/images/logo_min.png");
  background-position: 0px 12px;
  background-repeat: no-repeat;
  float: left;
  height: 33px;
  padding-bottom: 13px;
  width: 190px; }

nav {
  float: right;
  margin: 20px 0; }
  nav li {
    display: inline;
    margin-left: 2.5em; }
    nav li a {
      padding: 0.8em 0;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out; }
  nav li:first-child {
    margin-left: 0; }

.touchdown {
  display: none; }

h1 {
  background-image: url("/images/portfolio/link.png");
  background-repeat: no-repeat;
  background-position: 100% 95%;
  padding: 120px 45px 5px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

h1:hover {
  background-image: url("/images/portfolio/link_hover.png"); }

p, img {
  margin-bottom: 30px; }

.wip {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#type {
  padding-top: 5px; }

img {
  border: 2px solid #323232;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#copyright {
  text-align: right; }

@media (max-width: 1020px) {
  #logo {
    background-image: url("/images/icon.png") !important;
    background-position: 0 !important;
    background-size: 100% !important;
    height: 50px !important;
    width: 50px !important; } }
@media (max-width: 840px) {
  body {
    font-size: 90% !important; }

  nav {
    font-size: 0.75em !important; } }
@media (max-width: 720px) {
  .touchdown-list {
    display: none; }

  .touchdown {
    display: block; } }
