@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("/fonts/helvetica_neue_light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DIN Regular";
  src: url("/fonts/din_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT Sans Regular";
  src: url("/fonts/pt_sans_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "HelveticaNeue-Light", Helvetica, Arial, Sans-Serif;
  font-size: 100%; }

a {
  text-decoration: none; }

.logo {
  text-indent: -9999px; }

nav {
  font-family: "DIN Regular", Arial, Sans-Serif;
  font-size: 0.8em;
  text-transform: uppercase; }
  nav a {
    color: #f6f6f8; }
  nav a:hover {
    color: #0091da; }
  nav a.current {
    color: #0091da; }
  nav a.current:hover {
    color: #0091da; }

h1 {
  color: #323232;
  font-family: "PT Sans Regular";
  font-size: 1.6em;
  letter-spacing: -1px; }

h1:hover {
  color: #525252; }

p {
  line-height: 1.5em; }

p#type {
  color: #0091da; }

p#copyright {
  color: #525252;
  font-size: 0.8em; }
