* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  margin: auto;
  position: relative;
  width: 75.9%; }

header {
  background-color: #f6f6f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 1.5625%;
  padding-top: 1.5625%;
  position: fixed;
  width: 100%;
  z-index: 10; }

#logo {
  background-image: url("/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  height: 92px;
  width: 130px; }

#slogan {
  clear: right;
  float: right;
  margin-right: 0.8em;
  margin-top: 1em; }

nav {
  float: right;
  margin: 20px 0; }
  nav li {
    display: inline;
    margin-left: 0.8em; }
  nav li:first-child {
    margin-left: 0; }
  nav a {
    padding: 0.8em 1em;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
  nav a.current {
    background-color: #0091da;
    border-radius: 8px; }

.touchdown {
  display: none; }

#home {
  background-color: #0091da;
  height: 720px; }
  #home h1 {
    padding-top: 280px; }
  #home h1, #home p {
    padding-left: 15.625%; }
  #home #arrow {
    background-image: url("/images/arrow.png");
    display: block;
    height: 20px;
    margin: 160px auto 0;
    opacity: 0.3;
    width: 34px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
  #home #arrow:hover {
    opacity: 1; }

#who-we-are {
  background-color: #323232;
  background-image: url("/images/coffee.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 600px;
  height: 720px; }
  #who-we-are h1 {
    padding-top: 80px; }
  #who-we-are h1, #who-we-are p, #who-we-are ul {
    padding-bottom: 3.2%;
    padding-left: 56%; }
  #who-we-are li {
    display: inline-block;
    margin-bottom: 5%;
    vertical-align: top; }
  #who-we-are .member-thumbnail {
    width: 32.5%;
    text-align: center; }
  #who-we-are a {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
  #who-we-are span {
    display: block;
    padding-bottom: 5px; }

#what-we-do {
  background-color: #f6f6f8;
  background-image: url("/images/circle.png");
  background-position: 80% 60%;
  background-repeat: no-repeat;
  height: 720px; }
  #what-we-do h1 {
    padding-bottom: 7.5%;
    padding-top: 110px; }
  #what-we-do li {
    margin-bottom: 2%;
    width: 50%; }

#our-work {
  background-color: #323232;
  height: 720px; }
  #our-work h1 {
    padding-bottom: 7.5%;
    padding-top: 100px; }
  #our-work .thumbnail {
    display: inline-block;
    height: 150px;
    margin: 0 1.3% 8%;
    vertical-align: top;
    width: 29.2%;
    -webkit-transition: background-image 0.2s ease-in-out;
    -moz-transition: background-image 0.2s ease-in-out;
    -o-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out; }
  #our-work img {
    max-width: 100%; }
  #our-work .jsf:hover {
    background-image: url("/images/portfolio/jsf_hover.png"); }
  #our-work .cbfp:hover {
    background-image: url("/images/portfolio/cbfp_hover.png"); }
  #our-work .yme:hover {
    background-image: url("/images/portfolio/yme_hover.png"); }
  #our-work .dia-do-estudante:hover {
    background-image: url("/images/portfolio/dia_hover.png"); }
  #our-work .cesium:hover {
    background-image: url("/images/portfolio/ces_hover.png"); }
  #our-work .atreve-te:hover {
    background-image: url("/images/portfolio/atr_hover.png"); }
  #our-work .nemum:hover {
    background-image: url("/images/portfolio/nem_hover.png"); }
  #our-work .name {
    display: inline-block;
    padding: 5% 2% 2% 0; }
  #our-work .info {
    display: block; }

#hire-us {
  background-color: #0091da;
  background-image: url("/images/envelope.png");
  background-position: -140px 320px;
  background-repeat: no-repeat;
  background-size: 732px;
  height: 720px; }
  #hire-us h1 {
    padding-top: 100px; }
  #hire-us p {
    padding-bottom: 11%; }
  #hire-us form {
    float: right;
    height: 308px;
    width: 49.5%; }
    #hire-us form button {
      background-color: #323232;
      float: right;
      margin: 0;
      padding: 2.2% 3%; }
    #hire-us form button:hover {
      background-color: #f6f6f8; }
    #hire-us form input {
      margin: 0;
      margin-left: 3%;
      width: 48.5%; }
    #hire-us form input:first-child {
      margin-left: 0; }
    #hire-us form textarea {
      height: 61.4%;
      max-height: 80%;
      width: 100%; }
    #hire-us form input, #hire-us form textarea {
      background-color: #f6f6f8;
      margin-bottom: 3%;
      max-width: 100%;
      padding: 3%; }

#contact-us {
  background-color: #323232;
  background-image: url("/images/pt.png");
  background-position: 100% 60%;
  background-repeat: no-repeat;
  background-size: 391px;
  height: 700px; }
  #contact-us h1 {
    padding-top: 100px; }
  #contact-us section {
    display: inline-block;
    margin-top: 330px;
    vertical-align: top; }
  #contact-us .connect {
    margin-left: 30px; }
  #contact-us .subscribe {
    margin-left: 30px; }
    #contact-us .subscribe input {
      display: block;
      margin-top: 4.5%;
      max-width: 100%;
      padding: 5%;
      width: 100%; }
    #contact-us .subscribe button {
      background-color: #0091da;
      padding: 5%;
      margin: 3% 0 0; }
    #contact-us .subscribe button:hover {
      background-color: #f6f6f8;
      color: #0091da; }
  #contact-us .copyright-info {
    margin-top: 4%; }

@media (max-width: 1100px) {
  body {
    font-size: 95% !important; }

  #logo {
    background-size: 90%; }

  nav li {
    margin-left: 0 !important; }

  #slogan {
    margin-top: 0.8em; }

  #who-we-are {
    background-position: -100px 50% !important; }

  #hire-us {
    background-position: -200px 320px !important; } }
@media (max-width: 960px) {
  body {
    font-size: 90% !important; }

  header {
    padding-bottom: 2.563% !important;
    padding-top: 2.563% !important; }

  #logo {
    background-image: url("/images/icon.png") !important;
    background-position: 0 !important;
    background-size: 100% !important;
    height: 50px !important;
    width: 50px !important; }

  nav {
    margin: 10px 0 15px; }

  #slogan {
    margin-top: 0 !important; }

  #who-we-are {
    background-position: -170px 50% !important; }
    #who-we-are p {
      padding-bottom: 5% !important; }
    #who-we-are .member-thumbnail {
      width: 32% !important; }
    #who-we-are img {
      width: 80% !important; }

  #what-we-do {
    background-size: 35%; }

  #hire-us {
    background-position: -260px 320px !important; }

  #contact-us {
    background-size: 340px !important; }
    #contact-us section {
      display: block;
      margin-bottom: 25px;
      margin-left: 0 !important;
      margin-top: 0; }
    #contact-us .contact {
      margin-top: 80px; }
    #contact-us .subscribe {
      width: 200px; } }
@media (max-width: 840px) {
  #home {
    font-size: 3.2em !important; }

  #our-work .thumbnail {
    width: 30%; }

  #hire-us {
    background-position: -320px 320px !important; } }
@media (max-width: 780px) {
  #logo {
    background-size: 45px !important; }

  nav {
    font-size: 0.7em !important; }

  #slogan {
    font-size: 0.8em !important; }

  #home {
    font-size: 3em !important; }

  #who-we-are {
    background-position: -250px 50% !important; }

  #hire-us form {
    width: 100% !important; }

  #contact-us {
    background-position: 120% 60%; } }
@media (max-width: 660px) {
  body {
    font-size: 80% !important; }

  .touchdown-list {
    display: none; }

  .touchdown {
    display: block; }

  #slogan {
    margin-right: 0 !important; }

  #who-we-are {
    background-position: -220px 50% !important;
    background-size: 500px; }
    #who-we-are h1, #who-we-are p, #who-we-are ul {
      padding-left: 42% !important; }

  #what-we-do {
    background-position: 80% 50%; } }
@media (max-width: 610px) {
  #who-we-are {
    background-image: none !important; }
    #who-we-are h1, #who-we-are p, #who-we-are ul {
      padding-left: 0 !important; }
    #who-we-are ul {
      margin-top: 50px !important; }
    #who-we-are .member-thumbnail {
      margin-left: 5% !important;
      margin-right: 5% !important;
      width: 90px !important; }

  #what-we-do {
    background-image: none !important; }
    #what-we-do li {
      width: 100% !important; }

  #our-work .thumbnail {
    margin: 0 5% 4% !important;
    width: 38% !important; }

  #contact-us {
    background-image: none !important; } }
